# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# SwiftPM
.build/
.swiftpm/
Package.resolved

# Build artifacts
build/
DerivedData/

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

# Editor
.idea/
.vscode/
*.swp
*.swo
*~
